<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>identifier</key>
            <string>chaos-prod</string>
            <key>title</key>
            <string>Chaos Production</string>
            <key>date</key>
            <date>2020-10-22T15:17:18Z</date>
        </dict>
    </array>
</plist>
